/*===============================================================================================                                               
    directel.css
    =================================
      CSS 3.0

    RECORD
    =============================

      DATE            MODIFIED BY                   DESCRIPTION 
      =============   ===========================   ==========================================              
      May 06th 2012   Gerardo Hdz. Juan Francisco   CSS creation.
              
=================================================================================================*/

/*======================================================================
   FONDO APP
 =====================================================================*/
.ui-page{
	background-image: url('images/bg.png');
}

/*======================================================================
   HEADER
 =====================================================================*/
/*Header de la app*/
.header_{
	position:relative;
	width:100%;
	heigth:100%;
}

/*Logotipo del header de la app*/
.header_logo{
	display:block;
	position:relative;
	left:5%;
	bottom:0;
	width:50%;
	
	
	opacity:0.8;
	-webkit-transition:all 0.8s ease;
	-moz-transition:all 0.8s ease;
	transition:all 0.8s ease;
}

/*Icono de Configuración de la app*/
.header_config{
	display:block;
	position:absolute;
	right:2em;
	bottom:5%;
	height:4em;
	
	
	opacity:0.8;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	
}

/*Logotipo del header de la app al pasar el puntero sobre él*/
.header_logo:active, .header_config:active{
	opacity:1;
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
}

/*======================================================================
   MENU
 =====================================================================*/
 .menu_{
 	width:100%;
 }
 
 .menu_ ul{
 	padding:2em;
 }
 
 .menu_ ul li{
 	width:30%;
 	border:0;
 	
 	-webkit-border-radius:2em;
 	-moz-border-radius:2em;
 	border-radius:2em;
 }
 
 .menu_ ul li:first-child, .menu_ ul li:first-child a{
 	-webkit-border-top-left-radius: 2em;
 	-webkit-border-bottom-left-radius: 2em;
 	-moz-border-top-left-radius: 2em;
 	-moz-border-bottom-left-radius: 2em;
 	border-top-left-radius: 2em;
 	border-bottom-left-radius: 2em;
 }
 
  .menu_ ul li:last-child, .menu_ ul li:last-child a{
  	-webkit-border-top-right-radius: 2em;
 	-webkit-border-bottom-right-radius: 2em;
 	-moz-border-top-right-radius: 2em;
 	-moz-border-bottom-right-radius: 2em;
 	border-top-right-radius: 2em;
 	border-bottom-right-radius: 2em;
 }
 
 .menu_ ul li a img{
	width:3em;
 	opacity:0.8;
 	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
 }
 
 .menu_ ul li a:hover img{
 	opacity:1;
 	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
 }
 
 .menu_ ul li a img:active{
 	opacity:1;
 	-webkit-transform: scale(1.4,1.4);
	-moz-transform: scale(1.4,1.4);
	transform: scale(1.4,1.4);
 }
 

/*======================================================================
   CONTENIDO
 =====================================================================*/


/*======================================================================
   PÁGINA INICIAL
 =====================================================================*/
/*Logotipo de la página principal*/
.init_content img{
	display:block;
	margin:5em;
	margin-left:auto;
	margin-right:auto;
	
	width:50%;

}

/*Contenido de la página principal*/
.init_content{
	position:relative;
	
	width:80%;
	heigth:80%;
	
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	
	padding:3em;
}

