/*===============================================================================================                                               
    directel.css
    =================================
      CSS 3.0

    RECORD
    =============================

      DATE            MODIFIED BY                   DESCRIPTION 
      =============   ===========================   ==========================================              
      May 06th 2012   Gerardo Hdz. Juan Francisco   CSS creation.
              
=================================================================================================*/

/*======================================================================
   FONDO APP
 =====================================================================*/
.ui-page{
	background-image: url('images/bg.png');
}

/*======================================================================
   HEADER
 =====================================================================*/
/*Header de la app*/
.header_{
	position:relative;
	width:100%;
	heigth:100%;
}

/*Logotipo del header de la app*/
.header_logo{
	display:block;
	position:relative;
	left:5%;
	bottom:0;
	width:50%;
	
	
	opacity:1;
	-webkit-transition:all 0.8s ease;
	-moz-transition:all 0.8s ease;
	transition:all 0.8s ease;
}

/*Icono de Configuración de la app*/
.header_config{
	display:block;
	position:absolute;
	right:1em;
	bottom:5%;
	height:70%;
	
	
	opacity:0.8;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	
}

/*Logotipo del header de la app al pasar el puntero sobre él*/
.header_logo:active, .header_config:active{
	opacity:1;
	-webkit-transform: scale(1.05,1.00);
	-moz-transform: scale(1.05,1.00);
	transform: scale(1.05,1.00);
}

/*======================================================================
   MENU
 =====================================================================*/
 .menu_{
 	width:100%;
 }
 
 .menu_ ul{
 	padding:2em;
 }
 
 .menu_ ul li{
 	width:30%;
 	border:0;
 	
 	-webkit-border-radius:2em;
 	-moz-border-radius:2em;
 	border-radius:2em;
 }
 
 .menu_ ul li:first-child, .menu_ ul li:first-child a{
 	-webkit-border-top-left-radius: 2em;
 	-webkit-border-bottom-left-radius: 2em;
 	-moz-border-top-left-radius: 2em;
 	-moz-border-bottom-left-radius: 2em;
 	border-top-left-radius: 2em;
 	border-bottom-left-radius: 2em;
 }
 
  .menu_ ul li:last-child, .menu_ ul li:last-child a{
  	-webkit-border-top-right-radius: 2em;
 	-webkit-border-bottom-right-radius: 2em;
 	-moz-border-top-right-radius: 2em;
 	-moz-border-bottom-right-radius: 2em;
 	border-top-right-radius: 2em;
 	border-bottom-right-radius: 2em;
 }
 
 .menu_ ul li a img{
	width:3em;
 	opacity:0.8;
 	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
 }
 
 .menu_ ul li a:hover img{
 	opacity:1;
 	/*
 	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
	*/
 }
 
 .menu_ ul li a img:active{
 	opacity:1;
 	-webkit-transform: scale(1.4,1.4);
	-moz-transform: scale(1.4,1.4);
	transform: scale(1.4,1.4);
 }
 

/*======================================================================
   CONTENIDO
 =====================================================================*/


/*======================================================================
   PÁGINA INICIAL
 =====================================================================*/
/*Logotipo de la página principal*/
.init_content img{
	display:block;
	margin:5em;
	margin-left:auto;
	margin-right:auto;
	
	width:50%;

}

/*Contenido de la página principal*/
.init_content{
	position:relative;
	
	width:80%;
	heigth:80%;
	
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	
	padding:3em;
}

/*======================================================================
  PÁGINA CATEGORÍAS
 =====================================================================*/
 /*Listview de las Categorias*/
 .lista_categorias_{}
 
 .lista_categorias_ img{
 	margin:0.5em;
 	margin-top:5%;
 	margin-bottom:5%;
 	height:90%;
 	

 }
 
 /*Contenedor del Nombre y Logo de cada categoría*/
 .header_categoria{

 }
 
 /*Logotipo de cada categoría*/
 #cat_icon{
	margin:0;
	margin-left:2em;
 	width:20%;
 }
 
 /*Nombre de cada categoría*/
 #cat_name{
 	width:40%;
 	background-color: #fff;
 }
 
 /*======================================================================
  PÁGINA CLIENTES
 =====================================================================*/
 .client_content{
 	margin-top:0;
 	padding-top:0;
 }
 
 .logo_cliente{
 	margin:0;
 	width:100%;
 	height:20%;
 	background-color:#fff;
 }
 
 .logo_cliente img{
 	margin:1em;
 	height:80%;
 	border-radius:1.2em;
 }
 
 .nombre_dir{
 	position:relative;
 	margin:1em;
 	margin-top:0;

 }
 
 
 .nombre_dir h1 , .nombre_dir h2 , .nombre_dir h3{
 	text-align:left;
 	font-weight: bold;
 }
 
 .nombre_dir h2{
 	color:#3b5998;
 }
 
 .nombre_dir h1:first-letter , .nombre_dir h2:first-letter , .nombre_dir h3:first-letter{
	font-size: 1.2em;
 }
 
 .client_social{
 	position:absolute;
 	right:0;
 	top:0;
 }
 
 .client_social img{
 	width:4.2em;
 }
 
 .client_fav{
 	position:absolute;
 	right:0;
 	bottom:0;
 	height:auto;
 	
 	border:0.2em solid red;
 }
 
 .contact_info, .map_{
 	margin:0.5em;
 	border:0.2em solid #999;
 	border-radius:1.2em;
 	background-color:#fff;
 }
 
 .telefonos_ ,.horario_{
 	border:0;
 	border-bottom: 0.2em solid #999;
 }
 
 .telefonos_ ,.horario_ , .web_{
 	padding:1em;
 	min-height: 3em;
 }
 .telefonos_ img,.horario_ img, .web_ img{
 	float:left;
 	width:3em;
 }
 
 .contact_tag{
 	float:left;
 	margin-left:1em;
 	font-weight: bold;

 }
 
 .telefonos_list, .horario_list, .web_list{
 	margin-top:1.2em;
 	margin-left:4em;
 	width:auto;
 	text-align:right;

 }
 
 .map_ img{
 	margin:1.2em;
 	border-radius:1.2em;
 }

 
 
 
 
 
 
 
